.backToTop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1rem;
  bottom: 2rem;
  width: 42px;
  height: 42px;
  background-color: #fff;
  font-size: 40px;
  z-index: 90;
  cursor: pointer;
  text-align: center;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.15);
}
