@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-100;
  }
  pre,
  code {
    white-space: pre-wrap !important;
  }
  a {
    word-wrap: break-word;
    word-break: break-all;
  }
}
@layer components {
  .nav-item {
    @apply transition cursor-pointer flex items-center h-full px-2 md:px-4 hover:border-cyan-400 hover:text-cyan-400 border-b-2 border-white;
  }
}
.svg-gray {
  color: rgb(30, 30, 30);
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
  z-index: 999;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-56px);
}
.side-bar {
  will-change: top;
  transition: top 200ms linear;
}
/* 一定的 */
.side-bar-top {
  top: 112px;
}

.side-bar-not-top {
  top: 56px;
}
.side-bar-not-top.side-bar-pinned {
  top: 112px;
}
/* 滚动槽 */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ccc;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
:root {
  --waline-bgcolor-light: #fff !important;
}
body .wl-panel {
  margin: 0.5em 0;
  border-radius: 0;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
