@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-slate-100;
  }
  pre,
  code {
    white-space: pre-wrap !important;
  }
  a {
    word-wrap: break-word;
    word-break: break-all;
  }
}
@layer components {
  .nav-item {
    @apply transition cursor-pointer flex items-center h-full px-2 md:px-4 hover:border-cyan-400 hover:text-cyan-400 border-b-2 border-white;
  }
}
.svg-gray {
  color: rgb(30, 30, 30);
}

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
  z-index: 999;
}
.headroom--pinned {
  transform: translateY(0%);
}
.headroom--unpinned {
  transform: translateY(-56px);
}
.side-bar {
  will-change: top;
  transition: top 200ms linear;
}
/* 一定的 */
.side-bar-top {
  top: 112px;
}

.side-bar-not-top {
  top: 56px;
}
.side-bar-not-top.side-bar-pinned {
  top: 112px;
}
/* 滚动槽 */
::-webkit-scrollbar {
  width: 10px;
  height: 6px;
}
::-webkit-scrollbar-track {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #ccc;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
