.dark .markdown-navigation .title-level1 {
  color: rgb(158, 158, 158);
}
.dark .markdown-navigation .title-level2 {
  color: rgb(148, 148, 148);
}
.dark .markdown-navigation .title-level3 {
  color: rgb(138, 138, 138);
}
.dark .markdown-navigation .title-level4 {
  color: rgb(128, 128, 128);
}
.dark .markdown-navigation .title-level5 {
  color: rgb(118, 118, 118);
}
.dark .markdown-navigation .title-level6 {
  color: rgb(108, 108, 108);
}
.dark .markdown-navigation .title-anchor.active {
  color: #4f79be;
}
.dark .markdown-navigation .title-anchor:hover,
.dark .markdown-navigation .title-anchor.active {
  background-color: #3a3c41;
}
