.article-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px dashed rgb(229 231 235);
  cursor: pointer;
}
.article-list-item:hover {
  border-color: rgb(156 163 175);
}
.uaa {
  position: relative;
  color: #333;
  font-size: 14;
  text-decoration: none;
}
.uaa:hover {
  color: #333;
}
.uaa:before {
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background: rgb(156 163 175);
  transition: all 0.3s;
  content: '';
}
.uaa:hover:before {
  right: 0;
  left: 0;
  width: 100%;
}
