.light pre .code-block-wrapper {
  display: block;
  overflow-x: auto;
  padding: 22px 16px 16px;
}

/* .light code.hljs {
  padding: 3px 5px
}

*/

.light .hljs {
  background: inherit;
  color: #000;
}

.light .hljs-comment,
.light .hljs-quote,
.light .hljs-variable {
  color: green;
}

.light .hljs-built_in,
.light .hljs-keyword,
.light .hljs-name,
.light .hljs-selector-tag,
.light .hljs-tag {
  color: #00f;
}

.light .hljs-addition,
.light .hljs-attribute,
.light .hljs-literal,
.light .hljs-section,
.light .hljs-string,
.light .hljs-template-tag,
.light .hljs-template-variable,
.light .hljs-title,
.light .hljs-type {
  color: #a31515;
}

.light .hljs-deletion,
.light .hljs-meta,
.light .hljs-selector-attr,
.light .hljs-selector-pseudo {
  color: #2b91af;
}

.light .hljs-doctag {
  color: grey;
}

.light .hljs-attr {
  color: red;
}

.light .hljs-bullet,
.light .hljs-link,
.light .hljs-symbol {
  color: #00b0e8;
}

.light .hljs-emphasis {
  font-style: italic;
}

.light .hljs-strong {
  font-weight: 700;
}
