.custom-container {
  --info-title-color: #193c47;
  --info-bg-color: #eef9fd;
  --info-border-color: #4cb3d4;

  --note-title-color: #474748;
  --note-bg-color: #fdfdfe;
  --note-border-color: #d4d5d8;

  --tip-title-color: #003100;
  --tip-bg-color: #e6f6e6;
  --tip-border-color: #009400;

  --warning-title-color: #4d3800;
  --warning-bg-color: #fff8e6;
  --warning-border-color: #e6a700;

  --danger-title-color: #4b1113;
  --danger-bg-color: #ffebec;
  --danger-border-color: #e13238;
}

.dark .custom-container {

  --info-title-color: #eef9fd;
  --info-bg-color: #193c47;

  --note-title-color: #fdfdfe;
  --note-bg-color: #474748;

  --tip-title-color: #e6f6e6;
  --tip-bg-color: #003100;

  --warning-title-color: #fff8e6;
  --warning-bg-color: #4d3800;


  --danger-title-color: #ffebec;
  --danger-bg-color: #4b1113;

  --detail-bg-color: #333;
  --detail-text-color: #a8a8a8;
}

.custom-container.info {
  background-color: var(--info-bg-color);
  border-color: var(--info-border-color);
}

.custom-container.note {
  background-color: var(--note-bg-color);
  border-color: var(--note-border-color);
}

.custom-container.tip {
  background-color: var(--tip-bg-color);
  border-color: var(--tip-border-color);
}

.custom-container.warning {
  background-color: var(--warning-bg-color);
  border-color: var(--warning-border-color);
}

.custom-container.danger {
  background-color: var(--danger-bg-color);
  border-color: var(--danger-border-color);
}

.custom-container-title.info {
  color: var(--info-title-color);
}

.custom-container-title.note {
  color: var(--note-title-color);
}

.custom-container-title.warning {
  color: var(--warning-title-color);
}

.custom-container-title.tip {
  color: var(--tip-title-color);
}

.custom-container-title.danger {
  color: var(--danger-title-color);
}


.custom-container {
  margin: 1rem 0;
  padding: 0.25rem 1rem;
  border-left-width: 0.3rem;
  border-left-style: solid;
  border-radius: 0.5rem;
  color: inherit;
}

.markdown-body .custom-container-title {
  font-weight: 600;
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.markdown-body .custom-container-title svg {
  margin-right: 4px;
}
body .markdown-body .custom-container .relative>pre {
  margin: 0 !important;
}

.custom-container-title.tip::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%2012%2016%22%20fill%3D%22%23003100%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%0A%20%20%20%20fill-rule%3D%22evenodd%22%0A%20%20%20%20d%3D%22M6.5%200C3.48%200%201%202.19%201%205c0%20.92.55%202.25%201%203%201.34%202.25%201.78%202.78%202%204v1h5v-1c.22-1.22.66-1.75%202-4%20.45-.75%201-2.08%201-3%200-2.81-2.48-5-5.5-5zm3.64%207.48c-.25.44-.47.8-.67%201.11-.86%201.41-1.25%202.06-1.45%203.23-.02.05-.02.11-.02.17H5c0-.06%200-.13-.02-.17-.2-1.17-.59-1.83-1.45-3.23-.2-.31-.42-.67-.67-1.11C2.44%206.78%202%205.65%202%205c0-2.2%202.02-4%204.5-4%201.22%200%202.36.42%203.22%201.19C10.55%202.94%2011%203.94%2011%205c0%20.66-.44%201.78-.86%202.48zM4%2014h5c-.23%201.14-1.3%202-2.5%202s-2.27-.86-2.5-2z%22%0A%20%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.dark .custom-container-title.tip::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%2012%2016%22%20fill%3D%22%23e6f6e6%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%0A%20%20%20%20fill-rule%3D%22evenodd%22%0A%20%20%20%20d%3D%22M6.5%200C3.48%200%201%202.19%201%205c0%20.92.55%202.25%201%203%201.34%202.25%201.78%202.78%202%204v1h5v-1c.22-1.22.66-1.75%202-4%20.45-.75%201-2.08%201-3%200-2.81-2.48-5-5.5-5zm3.64%207.48c-.25.44-.47.8-.67%201.11-.86%201.41-1.25%202.06-1.45%203.23-.02.05-.02.11-.02.17H5c0-.06%200-.13-.02-.17-.2-1.17-.59-1.83-1.45-3.23-.2-.31-.42-.67-.67-1.11C2.44%206.78%202%205.65%202%205c0-2.2%202.02-4%204.5-4%201.22%200%202.36.42%203.22%201.19C10.55%202.94%2011%203.94%2011%205c0%20.66-.44%201.78-.86%202.48zM4%2014h5c-.23%201.14-1.3%202-2.5%202s-2.27-.86-2.5-2z%22%0A%20%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
}

.custom-container-title.warning::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22%234d3800%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%0A%20%20%20%20fill-rule%3D%22evenodd%22%0A%20%20%20%20d%3D%22M8.893%201.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138%2013.499a.98.98%200%200%200%200%201.001c.193.31.53.501.886.501h13.964c.367%200%20.704-.19.877-.5a1.03%201.03%200%200%200%20.01-1.002L8.893%201.5zm.133%2011.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z%22%0A%20%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;

}

.dark .custom-container-title.warning::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22%23fff8e6%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%0A%20%20%20%20fill-rule%3D%22evenodd%22%0A%20%20%20%20d%3D%22M8.893%201.5c-.183-.31-.52-.5-.887-.5s-.703.19-.886.5L.138%2013.499a.98.98%200%200%200%200%201.001c.193.31.53.501.886.501h13.964c.367%200%20.704-.19.877-.5a1.03%201.03%200%200%200%20.01-1.002L8.893%201.5zm.133%2011.497H6.987v-2.003h2.039v2.003zm0-3.004H6.987V5.987h2.039v4.006z%22%0A%20%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
}


.custom-container-title.danger::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%201024%201024%22%20fill%3D%22%234b1113%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%20d%3D%22M147.911%20833.422V560.356a364.089%20364.089%200%201%201%20728.178%200v273.066H921.6v91.022H102.4v-91.022h45.511zm91.022-273.066h91.023A182.044%20182.044%200%200%201%20512%20378.31v-91.02a273.067%20273.067%200%200%200-273.067%20273.067zM466.49%2014.222h91.022v136.534H466.49V14.222zm399.496%20127.795%2064.353%2064.353-96.483%2096.53-64.399-64.354%2096.53-96.529zM93.662%20206.37l64.353-64.353%2096.529%2096.484-64.308%2064.444-96.574-96.575z%22%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;

}

.dark .custom-container-title.danger::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%201024%201024%22%20fill%3D%22%23ffebec%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%20d%3D%22M147.911%20833.422V560.356a364.089%20364.089%200%201%201%20728.178%200v273.066H921.6v91.022H102.4v-91.022h45.511zm91.022-273.066h91.023A182.044%20182.044%200%200%201%20512%20378.31v-91.02a273.067%20273.067%200%200%200-273.067%20273.067zM466.49%2014.222h91.022v136.534H466.49V14.222zm399.496%20127.795%2064.353%2064.353-96.483%2096.53-64.399-64.354%2096.53-96.529zM93.662%20206.37l64.353-64.353%2096.529%2096.484-64.308%2064.444-96.574-96.575z%22%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
}


.custom-container-title.note::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%2014%2016%22%20fill%3D%22%23474748%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%0A%20%20%20%20fill-rule%3D%22evenodd%22%0A%20%20%20%20d%3D%22M6.3%205.69a.942.942%200%200%201-.28-.7c0-.28.09-.52.28-.7.19-.18.42-.28.7-.28.28%200%20.52.09.7.28.18.19.28.42.28.7%200%20.28-.09.52-.28.7a1%201%200%200%201-.7.3c-.28%200-.52-.11-.7-.3zM8%207.99c-.02-.25-.11-.48-.31-.69-.2-.19-.42-.3-.69-.31H6c-.27.02-.48.13-.69.31-.2.2-.3.44-.31.69h1v3c.02.27.11.5.31.69.2.2.42.31.69.31h1c.27%200%20.48-.11.69-.31.2-.19.3-.42.31-.69H8V7.98v.01zM7%202.3c-3.14%200-5.7%202.54-5.7%205.68%200%203.14%202.56%205.7%205.7%205.7s5.7-2.55%205.7-5.7c0-3.15-2.56-5.69-5.7-5.69v.01zM7%20.98c3.86%200%207%203.14%207%207s-3.14%207-7%207-7-3.12-7-7%203.14-7%207-7z%22%0A%20%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;

}

.dark .custom-container-title.note::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%2014%2016%22%20fill%3D%22%23fdfdfe%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%0A%20%20%20%20fill-rule%3D%22evenodd%22%0A%20%20%20%20d%3D%22M6.3%205.69a.942.942%200%200%201-.28-.7c0-.28.09-.52.28-.7.19-.18.42-.28.7-.28.28%200%20.52.09.7.28.18.19.28.42.28.7%200%20.28-.09.52-.28.7a1%201%200%200%201-.7.3c-.28%200-.52-.11-.7-.3zM8%207.99c-.02-.25-.11-.48-.31-.69-.2-.19-.42-.3-.69-.31H6c-.27.02-.48.13-.69.31-.2.2-.3.44-.31.69h1v3c.02.27.11.5.31.69.2.2.42.31.69.31h1c.27%200%20.48-.11.69-.31.2-.19.3-.42.31-.69H8V7.98v.01zM7%202.3c-3.14%200-5.7%202.54-5.7%205.68%200%203.14%202.56%205.7%205.7%205.7s5.7-2.55%205.7-5.7c0-3.15-2.56-5.69-5.7-5.69v.01zM7%20.98c3.86%200%207%203.14%207%207s-3.14%207-7%207-7-3.12-7-7%203.14-7%207-7z%22%0A%20%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
}


.custom-container-title.info::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%2014%2016%22%20fill%3D%22%23193c47%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%0A%20%20%20%20fill-rule%3D%22evenodd%22%0A%20%20%20%20d%3D%22M7%202.3c3.14%200%205.7%202.56%205.7%205.7s-2.56%205.7-5.7%205.7A5.71%205.71%200%200%201%201.3%208c0-3.14%202.56-5.7%205.7-5.7zM7%201C3.14%201%200%204.14%200%208s3.14%207%207%207%207-3.14%207-7-3.14-7-7-7zm1%203H6v5h2V4zm0%206H6v2h2v-2z%22%0A%20%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 4px;

}

.dark .custom-container-title.info::before {
  content: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20viewBox%3D%220%200%2014%2016%22%20fill%3D%22%23eef9fd%22%20width%3D%2220%22%20height%3D%2220%22%3E%0A%20%20%3Cpath%0A%20%20%20%20fill-rule%3D%22evenodd%22%0A%20%20%20%20d%3D%22M7%202.3c3.14%200%205.7%202.56%205.7%205.7s-2.56%205.7-5.7%205.7A5.71%205.71%200%200%201%201.3%208c0-3.14%202.56-5.7%205.7-5.7zM7%201C3.14%201%200%204.14%200%208s3.14%207%207%207%207-3.14%207-7-3.14-7-7-7zm1%203H6v5h2V4zm0%206H6v2h2v-2z%22%0A%20%20%2F%3E%0A%3C%2Fsvg%3E");
  display: block;
  width: 20px;
  height: 20px;
}