/* 滚动槽 */
::-webkit-scrollbar {
  width: 12px;
}
#toc-container::-webkit-scrollbar{
  width: 10px;
}
.dark #toc-container::-webkit-scrollbar-thumb {
  background: #797979;
}
.dark ::-webkit-scrollbar-thumb {
  background: #9f9f9f;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background: #cfcfcf;
}
